apiVersion: 1

datasources:
  - name: Cottage Monitoring
    uid: cottage-monitoring-pg
    type: postgres
    access: proxy
    url: 127.0.0.1:5432
    user: cottage_grafana
    isDefault: false
    editable: false
    jsonData:
      database: cottage_monitoring
      sslmode: disable
      postgresVersion: 1600
      timescaledb: true
    secureJsonData:
      password: "${COTTAGE_GRAFANA_DB_PASSWORD}"
